<!DOCTYPE html>
<html lang="en">
<head>
  <title>TodoApp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./scripts/persistence.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div id="TodoApp" v-cloak>

    <section id="title">
      <h1>Todo app</h1>
    </section>

    <!--
      Here is our todo title creation box
    -->
    <section>
      <label for="newTodo-textbox">Todo title</label>
      <input type="text" id="newTodo-textbox" v-model="newTodoTitle" />
      <button v-on:click="addTodo">Create</button>
    </section>

    <!-- 
      Show our todos, if present, otherwise show a friendly message.
    -->
    <section v-if="todoCount > 0">
      <h2>Todos</h2>
      <!-- 
        Let's iterate over our todo's,
        bind their done values to a checkbox input
        to allow the user to modify the status of the todos
      -->
      <div v-for="todo in todos">
        <span>{{todo.title}}</span> <input type="checkbox" v-model="todo.done" />
      </div>
    </section>
    <section v-else>
      <h2>There are no todos for today (:</h2>
    </section>

    <!--
      Let's use a computed variable to conditional-render our pending todos
    -->
    <section v-if="pendingCount > 0">
      <h2>Pending todos</h2>
      <ul>
        <!-- 
          Use a computed variable to cache our pending todos and render them
        -->
        <li v-for="pending in pending">
          {{pending.title}}
        </li>
      </ul>
    </section>

    <!--
      Let's use a computed variable to conditional-render our completed todos
    -->
    <section v-if="completedCount > 0">
      <h2>Completed todos</h2>
      <li v-for="complete in completed">
        <!-- 
          Use a computed variable to cache our completed todos and render them,
          added a button binded to the removeTodo method with our current iterating
          todo to allow us to remove it later.
        -->
        {{complete.title}} <button v-on:click="removeTodo(complete)">Remove</button>
      </li>
    </section>

  </div>

  <script type="text/javascript">
    /**
     * @constant { string } TODO_PERSISTENCE_KEY Key used to store our data in localStorage
    */
    const TODO_PERSISTENCE_KEY = 'TodoApp-Simple-Todos'
    /**
     * Most of the code here is self-explainatory
    */
    var app = new Vue({
      el: '#TodoApp',
      data: function () {
        return {
          newTodoTitle: '',
          todos: []
        }
      },
      beforeMount: function () {
        let todos = LocalStoragePersistence.loadJsonObject(TODO_PERSISTENCE_KEY)
        this.todos = todos === null ? [] : todos 
      },
      computed: {
        todoCount: function () { 
          return this.todos.length 
        },
        completed: function () { 
          return this.todos.filter(function (todo) { 
            return todo.done 
          }) 
        },
        completedCount: function () { 
          return this.completed.length 
        },
        pending: function () { 
          return this.todos.filter(function (todo) { 
            return !todo.done 
          }) 
        },
        pendingCount: function () { 
          return this.pending.length 
        }
      },
      methods: {
        addTodo: function () { 
          this.todos.push({ title: this.newTodoTitle, done: false }) 
          LocalStoragePersistence.saveJsonObject(TODO_PERSISTENCE_KEY, this.todos)
        },
        removeTodo: function (todo) { 
          this.todos.splice(this.todos.indexOf(todo), 1) 
          LocalStoragePersistence.saveJsonObject(TODO_PERSISTENCE_KEY, this.todos)
        }
      }
    });
  </script>
</body>
</html>